.displayCharactersCard {
  max-width: 330px;
  width: 30%;
  margin: 20px 50px;
}

.displayCharactersCard .top {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
}

.displayCharactersCard img,
.moreInfo .top img {
  height: inherit;
}

.displayCharactersCard p {
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
}
